/* Customer Polls Section */
.pollSection {
  background: #1a1e25;
  padding: 50px 20px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 20px auto;
  position: relative;
}

.pollSection h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #ffff;
}

.pollOptions {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.pollOption {
  background-color: #ac8d5b;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.pollOption:hover {
  transform: translateY(-5px);
}

.pollOption button {
  background: #1a1e25;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.pollOption button:hover {
  background: #071732;
}

.pollOption button:disabled {
  background: #b5b5b5;
  cursor: not-allowed;
}

.progressBarContainer {
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  margin-top: 10px;
  overflow: hidden;
}

.progressBar {
  height: 100%;
  background: #1a1e25;
  transition: width 0.5s ease-in-out;
}

.pollOption p {
  font-size: 14px;
  margin-top: 8px;
  color: black;
}

.totalVotes {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #ffff;
}

.winner {
  border: 3px solid #e67e22;
  box-shadow: 0px 0px 15px rgba(230, 126, 34, 0.5);
}

.winnerMessage {
  background: #ac8d5b;
  color: white;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.icon {
  font-size: 24px;
}

@media (max-width: 768px) {
  .pollOptions {
    flex-direction: column;
    align-items: center;
  }
  .pollOption {
    width: 100%;
    max-width: 300px;
  }
}
