:root {
  --primary-bg: #1a1e25;
  --gold: #ac8d5b;
  --white: #ffff;
}

.container {
  display: flex;
  /* background-color: var(--primary-bg); */
  color: var(--white);
  padding: 50px 20px;
}

.sidebar {
  margin-top: 80px;
  position: sticky;
  top: 20px;
  width: 250px;
  height: fit-content;
  background: #ac8d5b;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.sidebar h2 {
  color: var(--white);
  font-size: 22px;
  margin-bottom: 15px;
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: var(--white);
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.sidebar ul li a:hover {
  color: var(--primary-bg);
}

.content {
  margin-top: 80px;
  flex: 1;
  max-width: 800px;
  margin-left: 50px;
  padding: 30px;
  background: #ac8d5b;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 32px;
  margin-bottom: 20px;
  color: var(--white);
  text-align: center;
}

.introText {
  text-align: center;
  font-size: 16px;
  margin-bottom: 25px;
  font-weight: 300;
}

/* General Section Styling */
.section {
  margin-bottom: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  transition: background 0.3s ease;
}

.section:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Collapsible Section */
.collapsibleHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
  padding: 10px;
  color: var(--white);
  transition: color 0.3s ease;
}

.collapsibleHeader:hover {
  color: var(--white);
}

.expandedText {
  color: var(--primary-bg);
  font-size: 16px;
  line-height: 1.5;
  padding: 10px 15px;
}

/* Back to Top Button */
.backToTop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: var(--white);
  color: var(--primary-bg);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.backToTop:hover {
  background: var(--white);
  transform: scale(1.1);
}

.icon {
  font-size: 20px;
}
