:root {
  --primary-bg: #1a1e25;
  --gold: #ac8d5b;
  --white: #ffff;
}

.termsContainer {
  /* background-color: var(--primary-bg); */
  color: var(--white);
  padding: 60px 15px;
  display: flex;
  justify-content: center;
}

.termsContent {
  max-width: 800px;
  width: 100%;
  padding: 30px;
  margin-top: 80px;
  /* background: rgba(255, 255, 255, 0.1);  */
  background-color: #ac8d5b;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.title {
  
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  color: white;
  text-transform: uppercase;
}

.introText {
  text-align: center;
  font-size: 16px;
  margin-bottom: 25px;
  font-weight: 300;
}

.termsSection {
  background: rgba(255, 255, 255, 0.08);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  transition: background 0.3s ease;
}

.termsSection:hover {
  background: rgba(255, 255, 255, 0.2);
}

.sectionTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  color: var(--white);
  transition: color 0.3s ease;
}

.sectionTitle:hover {
  color: var(--white);
}

.icon {
  font-size: 18px;
  transition: transform 0.3s ease;
}

.sectionContent {
  font-size: 16px;
  padding: 10px 15px;
  line-height: 1.5;
  color: var(--primary-bg);
}

.termsFooter {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: var(--gold);
}

.backToTop {
  display: inline-block;
  margin-top: 15px;
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  background: var(--white);
  color: var(--primary-bg);
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.backToTop:hover {
  background: var(--primary-bg);
  color: var(--white);
  transform: scale(1.05);
}
